/* ===== LAYOUT GERAL ===== */
.container {
  width: 100%;
}

.grid-2 {
  display: grid;
  justify-items: center;
  gap: 1rem;
  grid-template-columns: 1fr;

}

.container h1 {
  width: 100%;
  color: var(--cl-primary-200);
  text-align: left;
}

[data-layout="compact"] {
  .container h1 {
    text-align: center;
  }
  .container .horarios-title {
    font-size: 1.5rem;
  }
}

[data-layout="expanded"] {
  .grid-2 {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}