/* ===== LAYOUT GERAL ===== */
.container {
  width: 100%;
  background-color: red;
}

.grid-2 {
  display: grid;
  justify-items: center;
  gap: 4rem;
  grid-template-columns: 1fr;
}

@media (min-width: 1024px) {
  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
}

/* Banner */
.banner-area {
  display: flex;
  height: 100%;
  width: 100%;
}

.banner-left {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.banner-right {
  justify-content: center;
  align-items: center;
}

/* ===== HERO ===== */
.hero-title {
  font-weight: bold;
  color: #ff7a1a;
}

.hero-links {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-left: 1rem;
}

.hero-links li {
  list-style: none;
  color: #ffffff;
}

.btn-primary {
  display: inline-block;
  margin-top: 16px;
  background: #ff7a1a;
  padding: 10px 24px;
  border-radius: 30px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

/* ===== HERO IMG ===== */

.hero-img {
  border-radius: 16px;
  display: flex;
  justify-content: center;
}

.hero-img img {
  aspect-ratio: 20/8;
  width: 40vw;
  height: auto;
  object-fit: cover;
}

/* Sobre */
.sobre-area {
  display: flex;
  height: 100%;
  width: 100%;
}

.sobre-left {
  justify-content: center;
  align-items: center;
  background-color: blue;
}
.sobre-right {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  background-color: blue;
}

/* ===== CARROSSEL ===== */
.carousel {
  position: relative;
}

.carousel-slides {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.7s ease;
}

.carousel-slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  background: rgba(0,0,0,0.5);
  padding: 0.4rem;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}
.carousel-btn.prev {
  left: 0;
  transform: translateY(-50%) translateX(0);
}
.carousel-btn.next {
  right: 0;
  transform: translateY(-50%) translateX(0);
}
.carousel-btn i {
  color: #ffffff;
  font-size: 1rem;
}

.carousel-dots {
  position: absolute;
  bottom: 0.4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,0.3);
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #ffffff;
}

/* ===== SOBRE ===== */
.section-title {
  font-weight: bold;
  color: #ff7a1a;
}

.text {
  color: #ffffff;
}

/* Social */
.social-area {
  display: flex;
  height: 100%;
  width: 100%;
}

.social-left {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  background-color: blue;
}
.social-right {
  align-items: center;
  justify-content: center;
  background-color: blue;
}

/* ===== MAIS INFO ===== */
.info-title {
  font-weight: bold;
  color: #ff7a1a;
}

.social-list,
.contact-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  text-decoration: none;
}

.social-list a,
.contact-list a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.social-list span,
.contact-list span {
  color: #ffffff;
}

.icon-box {
  background: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

.icon-box i {
  font-size: 1rem;
  color: #000;
}

/* ===== MAPA ===== */
.map-box {
  /* width: 80%; */
  /* aspect-ratio: 16/10; */
  border-radius: 1rem;
  overflow: hidden;
  border: 4px solid #ff7a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-desc {
  max-width: 80%;
  color: #ffffff;
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.5;
}

.map-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
