/* CAROUSEL (CONTAINER) */
.carousel {
  position: relative;
  width: 100%;
  max-width: 900px;
  overflow: hidden;
  border-radius: 20px;
}

/* SLIDES */
.carousel-slides {
  display: flex;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  transition: transform 0.7s ease;
}

.carousel-slides img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;
}

/* CONTROLES (BOTÕES) */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  padding: 0.4rem;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  z-index: 10;
}

.carousel-btn.prev {
  left: 10px;
}
.carousel-btn.next {
  right: 10px;
}

.carousel-btn i {
  color: white;
  font-size: 1.2rem;
}

/* DOTS (INDICADORES) */
.carousel-dots {
  position: absolute;
  bottom: 0.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  z-index: 10;
}

.carousel-dot {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,0.3);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s ease;
}

.carousel-dot.active {
  background: white;
}

/* ===== SOBRE ===== */
.sobre-area p {
  line-height: 1.6;
}

[data-layout="compact"] {
  .sobre-left {
    justify-content: center;
    align-items: center;
  }
  .sobre-right {
    justify-content: center;
    align-items: center;
    gap: 0.5rem
  }
}
[data-device="large"] {
  .sobre-left {
    padding-left: 0rem;
  }
  .sobre-right {
    padding-right: 5rem;
  }
}
