.servicos h2 {
  color: #ff7a00;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
  gap: 4rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.2rem;
  min-width: 400px;
  max-width: 400px;
}

.card img {
  aspect-ratio: 16/9;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
  /* border: 0.2rem solid var(--th-text-1); */
}

.card p {
  font-size: 1rem;
}
