/* Banner */
.banner-area {
  display: flex;
  height: 100%;
  width: 100%;
}

.banner-left {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.banner-right {
  justify-content: center;
  align-items: center;
}

/* ===== HERO ===== */
.hero-links {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-left: 1rem;
}

.hero-links li {
  list-style: none;
  color: var(--th-text-1);
}

/* ===== HERO IMG ===== */

.hero-img {
  border-radius: 16px;
  display: flex;
  justify-content: center;
}

.hero-img img {
  aspect-ratio: 20/8;
  width: 40vw;
  height: auto;
  object-fit: cover;
}

/* Sobre */
.sobre-area {
  display: flex;
  height: 100%;
  width: 100%;
}

.sobre-left {
  justify-content: center;
  align-items: center;
}
.sobre-right {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

[data-layout="compact"] {
  .banner-left {
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .banner-right {
    display: none;
  }
  .hero-links li {
    text-align: center;
  }
  .container h1 { 
    text-align: center;
    font-size: 1.75rem;
    width: 100%;
  }
}
[data-device="large"] {
  .banner-left {
    padding-left: 5rem;
  }
  .banner-right {
    padding-right: 5rem;
  }
  .social-left {
    padding-left: 5rem;
  }
  .social-right {
    padding-right: 5rem;
  }
}

/* 
.social-link-contato {
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
}

[data-device="small"] .ssocial-link-contato:active {
  background-color: var(--cl-neutral-tr);
}
[data-device="medium"] .social-link-contato:active {
  background-color: var(--cl-neutral-tr);
}
[data-device="large"] .social-link-contato:hover {
  background-color: var(--cl-neutral-tr);
} */
