html {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Poppins';
  scroll-behavior: smooth;
}

body {
  background-color: var(--th-bg-1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
body.noScroll {
  overflow: hidden;
}
[data-device="small"] body {
  min-height: 100svh;
}
[data-device="medium"] body {
  min-height: 100svh;
}
[data-device="large"] body {
  min-height: 100dvh;
}

main {
  flex: 1;
  width: 100%;
}
[data-device="small"] main {
  padding: 0.5em;
}
[data-device="medium"] main {
  padding: 0.75em;
}
[data-device="large"] main {
  padding: 1em;
}

section {
  width: 100%;
}

h1 {
  font-size: var(--font-3xl);
  color: var(--th-text-1);
}

h2 {
  font-size: var(--font-2xl);
  color: var(--th-text-1);
}

h3 {
  font-size: var(--font-xl);
  color: var(--th-text-1);
}

p {
  font-size: var(--font-base);
  color: var(--th-text-1);
}

a {
  text-decoration: none;
  color: var(--th-link-1);
}

ul {
  list-style-type: none;
  list-style: none;
}

.bi {
  aspect-ratio: 1/1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family: 'Poppins';
  display: block;
  margin: 0;
  padding: 0;
}

.btn-primary{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none; 
  border-radius: 2em;
  height: auto;
  width: auto;
  padding: 0.5rem 1.5rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  background-color: var(--cl-primary-200);
}
[data-device="small"] .btn-primary:active {
  background-color: var(--cl-primary-300);
}
[data-device="medium"] .btn-primary:active {
  background-color: var(--cl-primary-300);
}
[data-device="large"] .btn-primary:hover {
  background-color: var(--cl-primary-300);
}

.btn-ghost { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none; 
  border-radius: 2em;
  height: auto;
  width: auto;
  padding: 0.5rem;
  color: var(--th-text-1);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  background-color: transparent;
}
[data-device="small"] .btn-ghost:active {
  background-color: var(--cl-neutral-tr);
}
[data-device="medium"] .btn-ghost:active {
  background-color: var(--cl-neutral-tr);
}
[data-device="large"] .btn-ghost:hover {
  background-color: var(--cl-neutral-tr);
}

.btn-icon {
  aspect-ratio: 1/1;
  border-radius: 2em;
  padding: 0.5rem;
}

/* *$ec* Icones */
.gIcon {
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gIcon svg {
  aspect-ratio: 1/1;
  width: 24px;
  height: auto;
}

/* *$ec* Hover Animation */
.hvAnim {
  cursor: pointer;
  position: relative;
}
.hvAnim::before {
  content: "";
  position: absolute;
  background-color: var(--th-link-1);
  height: 2px;
  border-radius: 0.2em;

  transition: width 0.3s ease-in-out;
  width: 0%;
}
.hvAnim:hover::before {
  width: 100%;
}

.hvAnim.left::before {
  left: 0;
}
.hvAnim.mid::before {
  left: 50%;
  translate: -50% 0;
}
.hvAnim.right::before {
  right: 0;
}

.hvAnim.top::before {
  top: 0;
}
.hvAnim.bottom::before {
  bottom: 0;
}

.hvAnim.hvSecondary::before {
  background-color: var(--th-highlight);
}
.hvAnim.hvFont::before {
  background-color: var(--th-text-1);
}

[data-device="small"] .hvAnim:hover::before {
  width: 0%;
}
[data-device="small"] .hvAnim:active::before {
  width: 100%;
}
[data-device="medium"] .hvAnim:hover::before {
  width: 0%;
}
[data-device="medium"] .hvAnim:active::before {
  width: 100%;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cl-overlay-75);
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.overlay.show {
  z-index: 1000;
  pointer-events: all;
  opacity: 1;
}

/* *$ec* Texto quando selecionamos com o Mouse */
::selection {
  background-color: var(--cl-selection-bg);
  color: var(--cl-selection-text);
}

/* *$ec* Barra Lateral */

/* Tamanho da Barra */
::-webkit-scrollbar {
  width: clamp(4px, 1vw, 10px);
}

/* Fundo da Area da Barra */
::-webkit-scrollbar-track {
  background: var(--th-scrollbar-bg);
}

/* Cor da Barra Normal */
::-webkit-scrollbar-thumb {
  background: var(--th-scrollbar-cl);
  border-radius: 4px;
}

/* Cor da Barra quando com Mouse em Cima */
::-webkit-scrollbar-thumb:hover {
  background: var(--th-scrollbar-cl-hover);
}

/* *$ec* Botão para acessibilidade, pula para o conteúdo principal, ignorando items da navegação */
#link-skip-main {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 1000;
  background-color: var(--cl-primary-200);
  color: #ffffff;
  padding: 0.4em 0.8em;
  border-radius: 0.4em;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: opacity 0s ease-in-out;
}

#link-skip-main:focus {
  opacity: 1;
  pointer-events: auto;
  outline: 4px solid #ffffff;
}
