/* Importações em Geral */

/* Reset do CSS */
@import url('./zReset.css');

/* Aplicações em todos os locais */
@import url('./global.css');
@import url('./miscellaneous.css');
@import url('./components.css');

/* Stylesheet e Temas */
@import url('./zStylesheet.css');
@import url('./zScreen.css');

/* PFS - Pre Fabric Style */
@import url('./xPFS.css');

/* Componentes */
/* Header */
@import url('../components/header/header.css');
@import url('../components/header/navbar.css');
@import url('../components//header/config-menu/config-options.css');
/* Footer */
@import url('../components/footer/footer.css');
@import url('../components/footer/footer-sec/footer-sec-social.css');
@import url('../components/footer/footer-sec/footer-sec-copyright.css');
@import url('../components/footer/footer-sec/footer-sec-address.css');
@import url('../components/footer/footer-sec/footer-sec-devs.css');

/* Styles */
@import url('./sections/index.css');
@import url('./sections/sec-banner.css');
@import url('./sections/sec-sobre.css');
@import url('./sections/sec-servicos.css');
@import url('./sections/sec-planos.css');
@import url('./sections/sec-horarios.css');
@import url('./sections/sec-social.css');

/* Fonts */

/* Importando fonts via web */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Uso de Fontes Locais */
@font-face {
  font-family: 'Local-Poppins';
  src: url('./fonts/Poppins/Poppins.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Local-Audiowide';
  src: url('./fonts/Audiowide/Audiowide-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
