/* *$ec* Hover Animation */
.hvAnim {
  cursor: pointer;
  position: relative;
}
.hvAnim::before {
  content: "";
  position: absolute;
  background-color: var(--th-link-1);
  height: 2px;
  border-radius: 0.2em;

  transition: width 0.3s ease-in-out;
  width: 0%;
}
.hvAnim:hover::before {
  width: 100%;
}

.hvAnim.left::before {
  left: 0;
}
.hvAnim.mid::before {
  left: 50%;
  translate: -50% 0;
}
.hvAnim.right::before {
  right: 0;
}

.hvAnim.top::before {
  top: 0;
}
.hvAnim.bottom::before {
  bottom: 0;
}

.hvAnim.hvSecondary::before {
  background-color: var(--th-highlight);
}
.hvAnim.hvFont::before {
  background-color: var(--th-text-1);
}

[data-device="small"] .hvAnim:hover::before {
  width: 0%;
}
[data-device="small"] .hvAnim:active::before {
  width: 100%;
}
[data-device="medium"] .hvAnim:hover::before {
  width: 0%;
}
[data-device="medium"] .hvAnim:active::before {
  width: 100%;
}