/* Dimensions */

/* Aspects */
.aspect-square   { aspect-ratio: 1 / 1;  }
.aspect-video    { aspect-ratio: 16 / 9; }
.aspect-vertical { aspect-ratio: 9 / 16; }
.aspect-standard { aspect-ratio: 4 / 3;  }
