/* Layout */

/* Defaults and Useful */
.flex-default {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Display */
.grid  { display: grid;  }
.block { display: block; }

/* Flex */
.flex        { display: flex;        }
.inline-flex { display: inline-flex; }

/* Flex Direction */
.flex-row            { display: flex; flex-direction: row;            }
.flex-column         { display: flex; flex-direction: column;         }
.flex-row-reverse    { display: flex; flex-direction: row-reverse;    }
.flex-column-reverse { display: flex; flex-direction: column-reverse; }

/* Flex Wrap */
.flex-nowrap       { display: flex; flex-wrap: nowrap;       }
.flex-wrap         { display: flex; flex-wrap: wrap;         }
.flex-wrap-reverse { display: flex; flex-wrap: wrap-reverse; }

/* Align */
.items-center { align-items: center;     }
.items-start  { align-items: flex-start; }
.items-end    { align-items: flex-end;   }

/* Justify */
.justify-center  { justify-content: center;        }
.justify-start   { justify-content: flex-start;    }
.justify-end     { justify-content: flex-end;      }
.justify-evenly  { justify-content: space-evenly;  }
.justify-between { justify-content: space-between; }
.justify-around  { justify-content: space-around;  }

/* Gap */
.gap-0  { gap: var(--space-0);  }
.gap-1  { gap: var(--space-1);  }
.gap-2  { gap: var(--space-2);  }
.gap-3  { gap: var(--space-3);  }
.gap-4  { gap: var(--space-4);  }
.gap-5  { gap: var(--space-5);  }
.gap-6  { gap: var(--space-6);  }
.gap-7  { gap: var(--space-7);  }
.gap-8  { gap: var(--space-8);  }
.gap-9  { gap: var(--space-9);  }
.gap-10 { gap: var(--space-10); }
.gap-11 { gap: var(--space-11); }
.gap-12 { gap: var(--space-12); }
.gap-13 { gap: var(--space-13); }
.gap-14 { gap: var(--space-14); }
.gap-15 { gap: var(--space-15); }
.gap-16 { gap: var(--space-16); }
.gap-17 { gap: var(--space-17); }
.gap-18 { gap: var(--space-18); }
.gap-19 { gap: var(--space-19); }
.gap-20 { gap: var(--space-20); }
.gap-21 { gap: var(--space-21); }
.gap-22 { gap: var(--space-22); }
.gap-23 { gap: var(--space-23); }
.gap-24 { gap: var(--space-24); }

/* Negative Gap */
.-gap-1  { gap: calc(var(--space-1) * -1);  }
.-gap-2  { gap: calc(var(--space-2) * -1);  }
.-gap-3  { gap: calc(var(--space-3) * -1);  }
.-gap-4  { gap: calc(var(--space-4) * -1);  }
.-gap-5  { gap: calc(var(--space-5) * -1);  }
.-gap-6  { gap: calc(var(--space-6) * -1);  }
.-gap-7  { gap: calc(var(--space-7) * -1);  }
.-gap-8  { gap: calc(var(--space-8) * -1);  }
.-gap-9  { gap: calc(var(--space-9) * -1);  }
.-gap-10 { gap: calc(var(--space-10) * -1); }
.-gap-11 { gap: calc(var(--space-11) * -1); }
.-gap-12 { gap: calc(var(--space-12) * -1); }
.-gap-13 { gap: calc(var(--space-13) * -1); }
.-gap-14 { gap: calc(var(--space-14) * -1); }
.-gap-15 { gap: calc(var(--space-15) * -1); }
.-gap-16 { gap: calc(var(--space-16) * -1); }
.-gap-17 { gap: calc(var(--space-17) * -1); }
.-gap-18 { gap: calc(var(--space-18) * -1); }
.-gap-19 { gap: calc(var(--space-19) * -1); }
.-gap-20 { gap: calc(var(--space-20) * -1); }
.-gap-21 { gap: calc(var(--space-21) * -1); }
.-gap-22 { gap: calc(var(--space-22) * -1); }
.-gap-23 { gap: calc(var(--space-23) * -1); }
.-gap-24 { gap: calc(var(--space-24) * -1); }
