/* Sizes ============================================================ */

/* Widths - Full Views */

.vw-full  { width: 100vw;  }
.lvw-full { width: 100lvw; }
.svw-full { width: 100svw; }
.dvw-full { width: 100dvw; }

/* Widths - Fixeds */

.w-full   { width: 100%; }
.w-half   { width: 50%;  }
.w-double { width: 200%; }

/* Widths - Based in Sizes */

.w-0  { width: var(--size-0);  }
.w-1  { width: var(--size-1);  }
.w-2  { width: var(--size-2);  }
.w-3  { width: var(--size-3);  }
.w-4  { width: var(--size-4);  }
.w-5  { width: var(--size-5);  }
.w-6  { width: var(--size-6);  }
.w-7  { width: var(--size-7);  }
.w-8  { width: var(--size-8);  }
.w-9  { width: var(--size-9);  }
.w-10 { width: var(--size-10); }
.w-11 { width: var(--size-11); }
.w-12 { width: var(--size-12); }
.w-13 { width: var(--size-13); }
.w-14 { width: var(--size-14); }
.w-15 { width: var(--size-15); }
.w-16 { width: var(--size-16); }
.w-17 { width: var(--size-17); }
.w-18 { width: var(--size-18); }
.w-19 { width: var(--size-19); }
.w-20 { width: var(--size-20); }
.w-21 { width: var(--size-21); }
.w-22 { width: var(--size-22); }
.w-23 { width: var(--size-23); }
.w-24 { width: var(--size-24); }
.w-25 { width: var(--size-25); }
.w-26 { width: var(--size-26); }
.w-27 { width: var(--size-27); }
.w-28 { width: var(--size-28); }
.w-29 { width: var(--size-29); }
.w-30 { width: var(--size-30); }
.w-31 { width: var(--size-31); }
.w-32 { width: var(--size-32); }

/* Widths - % */

.w-porc-0   { width: 0%;   }
.w-porc-5   { width: 5%;   }
.w-porc-10  { width: 10%;  }
.w-porc-15  { width: 15%;  }
.w-porc-20  { width: 20%;  }
.w-porc-25  { width: 25%;  }
.w-porc-30  { width: 30%;  }
.w-porc-35  { width: 35%;  }
.w-porc-40  { width: 40%;  }
.w-porc-45  { width: 45%;  }
.w-porc-50  { width: 50%;  }
.w-porc-55  { width: 55%;  }
.w-porc-60  { width: 60%;  }
.w-porc-65  { width: 65%;  }
.w-porc-70  { width: 70%;  }
.w-porc-75  { width: 75%;  }
.w-porc-80  { width: 80%;  }
.w-porc-85  { width: 85%;  }
.w-porc-90  { width: 90%;  }
.w-porc-95  { width: 95%;  }
.w-porc-100 { width: 100%; }

/* Min Sizes ============================================================ */

/* Min Widths - Full Views */

.min-vw-full  { min-width: 100vw;  }
.min-lvw-full { min-width: 100lvw; }
.min-svw-full { min-width: 100svw; }
.min-dvw-full { min-width: 100dvw; }

/* Min Widths - Fixeds */

.min-w-full   { min-width: 100%; }
.min-w-half   { min-width: 50%;  }
.min-w-double { min-width: 200%; }

/* Min Widths - Based in Sizes */

.min-w-0  { min-width: var(--size-0);  }
.min-w-1  { min-width: var(--size-1);  }
.min-w-2  { min-width: var(--size-2);  }
.min-w-3  { min-width: var(--size-3);  }
.min-w-4  { min-width: var(--size-4);  }
.min-w-5  { min-width: var(--size-5);  }
.min-w-6  { min-width: var(--size-6);  }
.min-w-7  { min-width: var(--size-7);  }
.min-w-8  { min-width: var(--size-8);  }
.min-w-9  { min-width: var(--size-9);  }
.min-w-10 { min-width: var(--size-10); }
.min-w-11 { min-width: var(--size-11); }
.min-w-12 { min-width: var(--size-12); }
.min-w-13 { min-width: var(--size-13); }
.min-w-14 { min-width: var(--size-14); }
.min-w-15 { min-width: var(--size-15); }
.min-w-16 { min-width: var(--size-16); }
.min-w-17 { min-width: var(--size-17); }
.min-w-18 { min-width: var(--size-18); }
.min-w-19 { min-width: var(--size-19); }
.min-w-20 { min-width: var(--size-20); }
.min-w-21 { min-width: var(--size-21); }
.min-w-22 { min-width: var(--size-22); }
.min-w-23 { min-width: var(--size-23); }
.min-w-24 { min-width: var(--size-24); }
.min-w-25 { min-width: var(--size-25); }
.min-w-26 { min-width: var(--size-26); }
.min-w-27 { min-width: var(--size-27); }
.min-w-28 { min-width: var(--size-28); }
.min-w-29 { min-width: var(--size-29); }
.min-w-30 { min-width: var(--size-30); }
.min-w-31 { min-width: var(--size-31); }
.min-w-32 { min-width: var(--size-32); }

/* Min Widths - % */

.min-w-porc-0   { min-width: 0%;   }
.min-w-porc-5   { min-width: 5%;   }
.min-w-porc-10  { min-width: 10%;  }
.min-w-porc-15  { min-width: 15%;  }
.min-w-porc-20  { min-width: 20%;  }
.min-w-porc-25  { min-width: 25%;  }
.min-w-porc-30  { min-width: 30%;  }
.min-w-porc-35  { min-width: 35%;  }
.min-w-porc-40  { min-width: 40%;  }
.min-w-porc-45  { min-width: 45%;  }
.min-w-porc-50  { min-width: 50%;  }
.min-w-porc-55  { min-width: 55%;  }
.min-w-porc-60  { min-width: 60%;  }
.min-w-porc-65  { min-width: 65%;  }
.min-w-porc-70  { min-width: 70%;  }
.min-w-porc-75  { min-width: 75%;  }
.min-w-porc-80  { min-width: 80%;  }
.min-w-porc-85  { min-width: 85%;  }
.min-w-porc-90  { min-width: 90%;  }
.min-w-porc-95  { min-width: 95%;  }
.min-w-porc-100 { min-width: 100%; }

/* Max Sizes ============================================================ */

/* Max Widths - Full Views */

.max-vw-full  { max-width: 100vw;  }
.max-lvw-full { max-width: 100lvw; }
.max-svw-full { max-width: 100svw; }
.max-dvw-full { max-width: 100dvw; }

/* Max Widths - Fixeds */

.max-w-full   { max-width: 100%; }
.max-w-half   { max-width: 50%;  }
.max-w-double { max-width: 200%; }

/* Max Widths - Based in Sizes */

.max-w-0  { max-width: var(--size-0);  }
.max-w-1  { max-width: var(--size-1);  }
.max-w-2  { max-width: var(--size-2);  }
.max-w-3  { max-width: var(--size-3);  }
.max-w-4  { max-width: var(--size-4);  }
.max-w-5  { max-width: var(--size-5);  }
.max-w-6  { max-width: var(--size-6);  }
.max-w-7  { max-width: var(--size-7);  }
.max-w-8  { max-width: var(--size-8);  }
.max-w-9  { max-width: var(--size-9);  }
.max-w-10 { max-width: var(--size-10); }
.max-w-11 { max-width: var(--size-11); }
.max-w-12 { max-width: var(--size-12); }
.max-w-13 { max-width: var(--size-13); }
.max-w-14 { max-width: var(--size-14); }
.max-w-15 { max-width: var(--size-15); }
.max-w-16 { max-width: var(--size-16); }
.max-w-17 { max-width: var(--size-17); }
.max-w-18 { max-width: var(--size-18); }
.max-w-19 { max-width: var(--size-19); }
.max-w-20 { max-width: var(--size-20); }
.max-w-21 { max-width: var(--size-21); }
.max-w-22 { max-width: var(--size-22); }
.max-w-23 { max-width: var(--size-23); }
.max-w-24 { max-width: var(--size-24); }
.max-w-25 { max-width: var(--size-25); }
.max-w-26 { max-width: var(--size-26); }
.max-w-27 { max-width: var(--size-27); }
.max-w-28 { max-width: var(--size-28); }
.max-w-29 { max-width: var(--size-29); }
.max-w-30 { max-width: var(--size-30); }
.max-w-31 { max-width: var(--size-31); }
.max-w-32 { max-width: var(--size-32); }

/* Max Widths - % */

.max-w-porc-0   { max-width: 0%;   }
.max-w-porc-5   { max-width: 5%;   }
.max-w-porc-10  { max-width: 10%;  }
.max-w-porc-15  { max-width: 15%;  }
.max-w-porc-20  { max-width: 20%;  }
.max-w-porc-25  { max-width: 25%;  }
.max-w-porc-30  { max-width: 30%;  }
.max-w-porc-35  { max-width: 35%;  }
.max-w-porc-40  { max-width: 40%;  }
.max-w-porc-45  { max-width: 45%;  }
.max-w-porc-50  { max-width: 50%;  }
.max-w-porc-55  { max-width: 55%;  }
.max-w-porc-60  { max-width: 60%;  }
.max-w-porc-65  { max-width: 65%;  }
.max-w-porc-70  { max-width: 70%;  }
.max-w-porc-75  { max-width: 75%;  }
.max-w-porc-80  { max-width: 80%;  }
.max-w-porc-85  { max-width: 85%;  }
.max-w-porc-90  { max-width: 90%;  }
.max-w-porc-95  { max-width: 95%;  }
.max-w-porc-100 { max-width: 100%; }
