/* === Util's === */

/* Shadows */
.shadow-sm { box-shadow: 0 1px 2px rgba(0,0,0,0.05); }
.shadow { box-shadow: 0 2px 4px rgba(0,0,0,0.1); }

/* Transistion */
.transition-01 { transition: all 0.1s ease-in-out; }
.transition-02 { transition: all 0.2s ease-in-out; }
.transition-03 { transition: all 0.3s ease-in-out; }

/* Cursor */
.cursor-pointer { cursor: pointer; }

/* Select */
.select-none { user-select: none; }

/* Overflows */
.overflow-auto      { overflow: auto;      }
.overflow-hidden    { overflow: hidden;    }
.overflow-visible   { overflow: visible;   }
.overflow-scroll    { overflow: scroll;    }
.overflow-y-auto    { overflow-y: auto;    }
.overflow-y-hidden  { overflow-y: hidden;  }
.overflow-y-visible { overflow-y: visible; }
.overflow-y-scroll  { overflow-y: scroll;  }
.overflow-x-auto    { overflow-x: auto;    }
.overflow-x-hidden  { overflow-x: hidden;  }
.overflow-x-visible { overflow-x: visible; }
.overflow-x-scroll  { overflow-x: scroll;  }

/*  */