<template id="header-template">
  <div class="header-content">
    <!-- Logo -->
    <div class="logo-area">
      <img id="logo-header-light" src="../../../public/assets/brand/logos/logo-comb-topfitness-light.png" alt="Logo TopFitness light">
      <img id="logo-header-dark" src="../../../public/assets/brand/logos/logo-comb-topfitness-dark.png" alt="Logo TopFitness dark">
    </div>
    <!-- Menu -->
    <div class="menu-area">
      <button id="btn-navbar-open" class="btn-ghost btn-icon btn-navbar-toggle open">
        <i class="bi bi-list"></i>
      </button>
    </div>
  </div>
  <!-- Navbar -->
  <nav class="navbar" aria-expanded="false" id="navbar">
    <div class="navbar-header-all navbar-header">
      <button id="btn-navbar-close" class="btn-ghost btn-icon btn-navbar-toggle close">
        <i class="bi bi-x-lg"></i>        
      </button>
    </div>
    <button class="btn btn-primary btn-vejamais-navbar">Veja a TopFitness</button>
    <ul class="navbar-list" aria-expanded="false" id="navbar-list">
      <div class="navbar-header-all navbarlist-header">
        <button id="btn-navbarlist-close" class="btn-ghost btn-icon btn-navbar-toggle navbarlist close">
          <i class="bi bi-x-lg"></i>        
        </button>
      </div>
      <li><span class="hvAnim hvFont bottom right">Item 1</span></li>
      <li><span class="hvAnim hvFont bottom right">Item 2</span></li>
      <li><span class="hvAnim hvFont bottom right">Item 3</span></li>
    </ul>
    <ul id="config-menu" class="config-menu">
    </ul>
    <button id="btn-navbarlist-open" class="btn-ghost btn-icon btn-navbar-toggle navbarlist open">
      <i class="bi bi-list"></i>
    </button>
    <div class="overlay overlay-navbar" id="overlay-navbar"></div>
  </nav>
</template>