<template id="footer-template">
  <div class="footer-content">
    <!-- Social -->
    <div class="sec-footer social">
      <div class="social-box-footer">
        <a href="" title="Instagram" id="social-link-instagram" class="social-link">
          <div class="social-icon-box">
            <i class="bi bi-facebook"></i>
          </div>
        </a>
      </div>
      <div class="social-box-footer">
        <a href="" title="Facebook" id="social-link-facebook" class="social-link">
          <div class="social-icon-box">
            <i class="bi bi-instagram"></i>
          </div>
        </a>
      </div>
      <div class="social-box-footer">
        <button title="Phone" id="social-link-telephone" class="social-link">
          <div class="social-icon-box">
            <i class="bi bi-telephone-fill"></i>
          </div>
        </button>
      </div>
    </div>
    <div class="sec-footer address">
      <span>R. Mal. Eurico Gaspar Dutra, 1070 - Jardim Astúrias, São José do Rio Preto - SP, 15041-624</span>
    </div>
    <div class="sec-footer devs">
      <div class="footer-devs-content">
        <p class="footer-devs-title">Desenvolvido por:</p>
        <ul class="footer-devs-list">
          <li><a class="hvAnim mid bottom" href="https://github.com/Francisco-Neves-15">Francisco Neves</a></li>
          <span>|</span>
          <li><a class="hvAnim mid bottom" href="https://github.com/Marcella-Esc">Marcella-Esc</a></li>
          <span>|</span>
          <li><a class="hvAnim mid bottom" href="https://github.com/jogador096">Breno Ferracini</a></li>
        </ul>
      </div>
    </div>
    <div class="sec-footer copyright">
      <div class="footer-copyright-content">
        <div class="footer-copyright-brand">
          <i class="bi bi-c-circle"></i>
          <span>2025</span>
          <span>TopFitness</span>
        </div>
        <span class="footer-copyright-hifen">—</span>
        <span>Todos os Direitos Reservados</span>
      </div>
    </div>
  </div>
  <div class="overlay overlay-footer" id="overlay-footer"></div>
</template>