.sec-footer.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--footer-copyright-space);
}

.footer-copyright-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--footer-copyright-space);
}

.footer-copyright-content i {
  color: var(--th-text-1);
  font-size: 1.1rem !important;
}

[data-layout="compact"] .footer-copyright-content {
  flex-direction: column;
}
[data-layout="compact"] .footer-copyright-hifen {
  display: none;
}
