.sec-footer.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-box-footer {
  background-color: transparent;
}

.social-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
/* [data-device="small"] .social-link:active {
  background-color: var(--cl-neutral-tr);
}
[data-device="medium"] .social-link:active {
  background-color: var(--cl-neutral-tr);
}
[data-device="large"] .social-link:hover {
  background-color: var(--cl-neutral-tr);
} */

.social-icon-box {
  padding: 0.4rem;
  overflow: hidden;
  border-radius: 0.75rem;
  position: relative;
}
.social-icon-box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;  
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  z-index: 9;
}

.social-icon-box i {
  position: relative;
  z-index: 10;
  transition: color 0.3s ease-in-out;
}

[data-device="small"] .social-icon-box::before {
  opacity: 1;
}
[data-device="medium"] .social-icon-box::before {
  opacity: 1;
}
[data-device="large"] .social-icon-box::before {
  opacity: 0;
}

[data-device="small"] .social-link:active .social-icon-box::before {
  opacity: 1;
}
[data-device="medium"] .social-link:active .social-icon-box::before {
  opacity: 1;
}
[data-device="large"] .social-link:hover .social-icon-box::before {
  opacity: 1;
}

[data-device="small"] #social-link-telephone .social-icon-box i {
  color: var(--th-text-2);
}
[data-device="medium"] #social-link-telephone .social-icon-box i {
  color: var(--th-text-2);
}
[data-device="large"] #social-link-telephone:hover .social-icon-box i {
  color: var(--th-text-2);
}

#social-link-instagram .social-icon-box::before {
  background-color: var(--cl-facebook);
}
#social-link-facebook .social-icon-box::before {
  background: var(--cl-instagram2);
  background: var(--grad-instagram-webkit);
  background: var(--grad-instagram-moz);
  background: var(--grad-instagram-base);
}
#social-link-telephone .social-icon-box::before {
  background-color: var(--th-bg-2);
}